*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body{
   font-family: sans-serif;
   min-width: 320px;
   max-width: 100%;
   margin: auto;
}

header{
    padding-bottom: 10px;
}

nav{
    background-color: rgb(4, 1, 7);
    height: 90px;
    width: 100%;
    padding-bottom: 10px;
}

.logo{
    margin: 20px 2px 2px 20px;
}

.nome{   
    position: absolute;
    top: 25px;
    left: 90px;
    color: white;
    font-size: 24pt;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;         
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    
}

a.active, a:hover{
    background: #1d075f;
    transition: .5%;
    color: rgb(43, 7, 201);
    
}

h1{
    text-align: center;
    font-size: 38px;
    font-family: 'Rampart One', cursive;
    margin-bottom: 12px;

}

.img1{
    width: 40%;
    margin-left: 30px;
    box-shadow: 5px 5px 5px blue;
    }

.img2{
    margin-top: 10px;
   margin-left: 30px;
   width: 40%;
   box-shadow: 5px 5px 5px blue;
}

.img3{
    width: 40%;
    margin-left: 30px;
    margin-top: 12px;
    height: 350px;
    box-shadow: 5px 5px 5px blue;
}

.img4{
    margin-top: 10px;
   margin-left: 30px;
   width: 40%; 
   height: 350px;
   box-shadow: 5px 5px 5px blue;

}

.img5{
    width: 40%;   
    height: 420px; 
    margin-top: 22px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 22px;
    box-shadow: 5px 5px 5px blue;
}


.container{
    display: flex;
}

.p1{
    font-size: 24px;
    margin-left: 30px;
    width: 30%;
    padding: 5px 5px;

}    

.p2{
    font-size: 24px;
    width: 40%;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 25px;
}

.p5{
    font-size: 24px;  
    width: 40%; 
    margin-top: 20px;
    margin-left: 15px;
}


h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: blue 1px 1px 1px;
}

footer{
    height: 70px;
    width: 100%;
    color: rgb(234, 234, 243);
    background-color: rgb(4, 1, 7);
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

footer > p{
    color: blue;
    text-shadow: yellow 1px 1px 1px;
    font-weight: bold;
}




@media only screen and (max-width: 425px) {
    body {
     width: 100%;
     margin: 0;
     padding: 0;
    }

   header{
    width: 425px;
   }

  

   nav{
    background-color: rgb(4, 1, 7);
    height: 100px;
    width: 425px;
    padding-bottom: 10px;
}

ul{
    
    padding-right: 20px;
}

    nav ul li a{
        background-color: brown;
        margin-right: 10px;
        display: none;
    }

    h1{
        text-align: center;
        font-size: 2em;
        font-family: 'Rampart One', cursive;
        margin-bottom: 12px;
    
    }

    .container{
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }

    .img1{
        width: 390px;
        display: inline-block;
        margin-left: 2px;
    }  

    .p1,.p2,.p3{
        font-size: 1em;
        display: block;
        margin: 2px 2px;
        width: 100%;
        padding-right: 5px;
    }


    .img2{
        width: 390px;
        display: inline-block;
        margin-left: 2px;

      
    }


    .img3{
        width: 390px;
        display: inline-block;
        margin-left: 2px;
    }

    .img4{
        width: 390px;
        display: inline-block;
        margin-left: 2px;
    }
    }

    .img5{
        width: 390px;
        display: inline-block;
        margin-left: 2px;
    }
  

    h2{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        text-shadow: blue 1px 1px 1px;
        font-size: 10.5pt;
    }

    footer{
        width: 425px;
        margin: 0px;
    }

  }